h1{
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

div{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3em;
}

table{
    margin: 0 auto;
}

tr > td:nth-child(2){
    border-right: 2px solid black;
    border-left: 2px solid black;
    height: 100px;
    width: 100px;
}

tr:nth-of-type(2) > td{
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    height: 100px;
    width: 100px;
}
