body{
    background: #f5d9d5;
    font-family: Nunito, sans-serif;
}

#topNavbar .navbar-brand{
    color: #EA1C2C;
    font-size: 1.5rem;
}

#topNavbar .nav-link{
    color: white;
}
#topNavbar .nav-link:hover{
    color: #EA1C2C;
}

#topNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}

#headingGroup span{
    color: #EA1C2C;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}

.blurb h2{
    color: #EA1C2C;
    font-size: 2.5rem;
    font-weight: 100;
}

.blurb p{
    font-weight: 100;
    font-size: 1.125;
    line-height: 2;
    color: #f498b8;
}

.content{
    margin-top: 100px;
}

.navbar.scrolled{
    background: rgb(222, 192, 222);
    transition: background 800ms; 
}

@media(max-width:1200px){
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    } 
}