body{
    background-image: url(https://source.unsplash.com/xulIYVIbYIc);
    background-size: cover;
    background-position: center;
    font-family: Lato, sans-serif;
    color: white;
}

html{
    height: 100%;
}

#content{
    text-align: center;
    padding-top: 25%;
    text-shadow: 0px 3px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 26px rgba(0,0,0,0.1);
}

h1{
    font-weight: 700;
    font-size: 5em;
}

hr{
    width: 400px;
    max-width: 90%;
}

@media(max-width:768px){
    h1{
        font-size: 3.5em;
    }
    h3{
        font-size: 1.5em;
    }
}
