
body{
    padding-top: 70px;
}

.navbar-header .navbar-brand{
    color: orange;
}

.navbar-inverse{
    background-color: #444444;
}

.image1{
    background-image: url(https://source.unsplash.com/Ku4GVSM53ko)
}
.image2{
    background-image: url(https://source.unsplash.com/ZOA-cqKuJAA)
}
.image3{
    background-image: url(https://source.unsplash.com/DtpjfZL3MtE)
}
.image4{
    background-image: url(https://source.unsplash.com/DhabLhi0nuA)
}
.image5{
    background-image: url(https://source.unsplash.com/1JnLl15h3C4)
}
.image6{
    background-image: url(https://source.unsplash.com/PJVHU5niYg8)
}
.image7{
    background-image: url(https://source.unsplash.com/l7y4Z8s1sNk)
}
.image8{
    background-image: url(https://source.unsplash.com/u5m61CHska4)
}
.image9{
    background-image: url(https://source.unsplash.com/sKREzmyRdLM)
}
.image10{
    background-image: url(https://source.unsplash.com/-XwQFmuiMts)
}
.image11{
    background-image: url(https://source.unsplash.com/Ha0y277_aQg)
}
.image12{
    background-image: url(https://source.unsplash.com/6_PqH3qZmPo)
}

.image {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }