img{
    width: 30%;
    float: left;
    margin: 1.6%;
}
h1{
    font-family: Raleway;
    font-size: 35px;
    font-weight: 300;
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 10px;
    margin-left: 1.6%;
    width: 30%;
}